<!DOCTYPE html>
<html>
  <head>
    <title>みんなで月に行く前に</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'pc/application', media: 'all' %>
    <%= javascript_include_tag 'pc/application' %>
  </head>

  <body>
    <%= render 'partials/header' %>
      <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
